@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'bootstrap-icons/font/bootstrap-icons.css';

.App {
  text-align: center;
}
.container-fluid a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo-image {
  height: 70px;
  width: auto;
}

.travel-with-confidence {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.customModal .modal-content {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
}

.rounded-carousel-image {
    border-radius: 75px;
}

.transparent-background {
    background-color: rgba(255, 255, 255, 0.762);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}
.carousel-text {
    color: black;
}

.location-card {
  display: grid;
  border: solid white;
  border-width: 24px 24px;
  grid-template-columns: auto 1fr;
  column-gap: 40px;

}

.location-card-right {
  display: grid;
  grid-auto-rows: auto;
  gap: 24px
}
.update-location-card {
  display: grid;
  justify-content: center;
  gap: 24px
}
.update-loc-items{
  display: flex;
}
.loc-info {
  text-align: center;
  border: 1px black solid;
}
.access-list{
display: grid;
gap: 8px;
border: 1px black solid;
padding-bottom: 20px;
padding-left: 16px;
grid-template-rows: repeat(3, 24px);
grid-auto-flow: column;
font-size: 24px;
}

.icons-location {
  display: flex;
  grid-auto-rows: auto;
  justify-content: flex-end;
  
}

.icon-size{
  font-size: 2em;
}

.textarea {
  display: flex;
  justify-content: center;
  width: 25%;
  overflow: hidden;
  min-height: 40px;
  line-height: 20px;
}
